/*Varibles*/
$content-width: 80vw;
$sidebar-width: 20vw;

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

nav{
  background-color: red;
}

main{
  display: flex;
  flex-direction: row;
  flex: 1; /*Make Sidebar and content take up rest of the height*/
}

footer{
  background-color: chartreuse;
  margin-top: auto;
}

#sidebar{
  min-width: $sidebar-width; /*This and content width should equal 100vw*/
  background-color: blue;
}

#content{
  min-width: $content-width; /*This and sidebar width should equal 100vw*/
  background-color: chocolate;
  display: flex;
  justify-content: center; /*Centre Horizontally*/
  /*align-items: center;*/    /*Centre Vertically*/
}

.options{
  display: flex;

}


.nav-img{
  height: 40px;
  width: 40px;
}

#logo{
  height: 80px;
  width: 80px;
}
#content-title{
  background-color: aqua;
  height: 100px;
  width: 70vw;
}
