@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
/*Varibles*/
$content-width: 80vw;
$sidebar-width: 20vw;
$mainColour: #15181f; //Darker Grey
$secondaryColour: #1a1e27 ; //Lighter Grey
$primaryTextColour: white;
$secondaryTextColour: grey;
$green : #3ece57;
$white: white;

*{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

nav{
  color: $white;
  display: flex;
  justify-content: center;
  background-color: $green;
  font-size: 25px;
  height: 80px;
  width: 100vw;

}


main{
  display: flex;
  flex-direction: row;
  flex: 1; /*Make Sidebar and content take up rest of the height*/
}

footer{
  background-color: $green;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

#sidebar{
  min-width: $sidebar-width; /*This and content width should equal 100vw*/
  background-color: $secondaryColour;
  color: white;
  //display: none;
}

#content{
  min-width: $content-width; /*This and sidebar width should equal 100vw*/
  background-color: $mainColour;
  display: flex;
  flex: 1;
  flex-direction: column;
  //justify-content: center; // If flex direction is set to row, justify-content centres horizotnally and align items does vertically.
  align-items: center;
  // If flex direction is set to column, the axes changes and it becomes inversed

}
#content-title{
  background-color: $secondaryColour;
  height: 100px;
  width: 70vw;
  margin-top:30px;
  border-radius: 10px;
}
#current-title{
  padding-left: 20px;
}


.options{
  display: flex;


}

.options:hover{
  cursor: pointer;
}


.nav-img{
  height: 40px;
  width: 40px;
  padding: 10px;
}

#logo{
  height: 80px;
  width: 80px;
}

#home-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home{
  margin: 20px;

}
#home-onclose{
  position: absolute;
  visibility: hidden;
  top: 100px;
  padding-top: 20px;
}
#home-onclose:hover{
  cursor: pointer;
}
#mate{
  //color: $green;
  position: relative;
  top: 3px;
}
#check{
  position: relative;
  top: -6px;
}
.footer-img{
  width: 35px;
  position: relative;
  padding: 5px;
  top: 10px;
}
#all-task-content,#task-container,#seven-days-content,#important-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-container{
  display: flex;
  flex-direction: column;
  background-color: $secondaryColour;
  //border: 4px solid white ;
  margin: 10px;
  padding: 5px 30px;
  min-width: 400px;
}


#formDescription{
  height: 40px;
  display: flex;
  font-size: 10px;
  text-align: left;
  vertical-align: top;

}
#formDescription{
  text-align: left;

}

#new-project{
  position: absolute;
  background-color:$secondaryColour ;
  margin: 20px;
  top: 30%;
  left: 45%;
  width: 500px;
  height: 400px;
  display: none;
  flex-direction: column;
}
#add-task{
  background-color: $secondaryColour;
  margin: 20px;
  padding: 10px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 45%;
  visibility: hidden;
}
.formTitle{
  color: $green;
}

#projectForm{
  display: flex;
  flex-direction: column;
}
#projectButton{
  width: 100px;
  align-self: center;
  margin-top: 30px;
}

.unchecked-circle{
  width: 30px;
  height: 30px;
  align-self: end;
}
.unchecked-circle:hover{
  cursor: pointer;
}
.white-dots{
  width: 30px;
}
.white-dots:hover{
  cursor: pointer;
}
.task-img-div{
  display: flex;
  justify-content: space-between;
}
#edit-task{
  background-color: $secondaryColour;
  min-width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 45%;
}
.cross{
  width: 30px;
  height: 30px;
  align-self: center;
  margin-left: auto;
}
.cross:hover{
  cursor: pointer;
}
.option-title{
  display: flex;
  //justify-content: space-between;
}
.inputText{
  color: $secondaryTextColour;
}
select{
  color: $secondaryTextColour;
}
#content-title{
  display: flex;
  justify-content: space-between;
}
#add-task-button{
  align-self: center;
  width: 150px;
  margin-right: 10px;
  display: flex;
  background-color: $green;
  border-radius: 10px;
}
#add-task-button:hover{
  cursor: pointer;
}
#plus{
  width: 25px;
  height: 25px;
  align-self: center;
  padding-right: 5px;
}
