@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
/*Varibles*/
$content-width: 80vw;
$sidebar-width: 20vw;
$lightBlue: #0077A8;
$brightBlue: #00ABE4;
$green : #3ece57;
$white: white;

*{
  font-family: 'Montserrat', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

nav{
  color: $white;
  display: flex;
  justify-content: center;
  background-color: $brightBlue;
  font-size: 25px;
}


main{
  display: flex;
  flex-direction: row;
  flex: 1; /*Make Sidebar and content take up rest of the height*/
}

footer{
  background-color: $brightBlue;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

#sidebar{
  min-width: $sidebar-width; /*This and content width should equal 100vw*/
  background-color: $green;
  color: white;
  //display: none;
}

#content{
  min-width: $content-width; /*This and sidebar width should equal 100vw*/
  background-color: $lightBlue;
  display: flex;
  flex: 1;
  flex-direction: column;
  //justify-content: center; // If flex direction is set to row, justify-content centres horizotnally and align items does vertically.
  align-items: center;
  // If flex direction is set to column, the axes changes and it becomes inversed

}
#content-title{
  background-color: $green;
  height: 100px;
  width: 70vw;
  margin-top:30px;
  border-radius: 10px;
}
#current-title{
  padding-left: 20px;
}


.options{
  display: flex;


}

.options:hover{
  cursor: pointer;
}


.nav-img{
  height: 40px;
  width: 40px;
  padding: 10px;
}

#logo{
  height: 80px;
  width: 80px;
}

#home-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home{
  margin: 20px;

}
#home-onclose{
  position: absolute;
  visibility: hidden;
  top: 100px;
  padding-top: 20px;
}
#home-onclose:hover{
  cursor: pointer;
}
#mate{
  color: $green;
  position: relative;
  top: 3px;
}
#check{
  position: relative;
  top: -6px;
}
.footer-img{
  width: 35px;
  position: relative;
  padding: 5px;
  top: 10px;
}
#all-task-content,#task-container,#seven-days-content,#important-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-container{
  display: flex;
  flex-direction: column;
  background-color: navajowhite;
  border: 4px solid white ;
  margin: 10px;
  padding: 5px 30px;
  min-width: 400px;
}

#add-task{
  display: flex;
  flex-direction: column;
}

#formDescription{
  height: 100px;
  display: flex;
  font-size: 10px;
  text-align: left;
  vertical-align: top;

}
#formDescription{
  text-align: left;

}

#new-project{
  position: absolute;
  background-color:rosybrown ;
  margin: 20px;
  top: 30%;
  left: 45%;
  width: 500px;
  height: 400px;
  display: none;
  flex-direction: column;
}

#projectForm{
  display: flex;
  flex-direction: column;
}
#projectButton{
  width: 100px;
  align-self: center;
  margin-top: 30px;
}


